.app {
  margin: auto;
  text-align: center;
  width: 60%;
  margin-top: 15%;

  h1,h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: floralwhite;
  }

  h3 {
    margin-top: 10%;
  }



}
