form input {
		max-width: 400px;
		width: 80%;
		line-height: 3em;
		font-family: 'Ubuntu', sans-serif;
		margin: 1em 2em;
		border-radius: 5px;
		border: 2px solid #f2f2f2;
		outline: none;
		padding-left: 10px;
		color: #4F6367;
}

button {
		border-radius: 5px;
		padding: 1.1em;
		text-transform: uppercase;
		font-weight: bold;
}

h2 {
		text-transform: uppercase;
}
